## Homework 2: Data structures and data cleaning

In this homework you will have to apply the knowledge you have learned about tidy data from reading Wickham (2014). You will have to identify problems with the organization of example datasets using the terms introduced in Wickham. You will also have to tidy a dataset, and perform some basic cleaning operations. 

Before you begin, you will need to have completed the following requirements:
- Read Wickham (2014)
- If you haven't worked with the tidyverse package before, you need to install it with the `install.packages('tidyverse')` command
- Consult Tutorial 2, which explains the basic tidyverse commands for processing data: https://github.com/venpopov/DataSciencePsychUZH/blob/main/Tutorials/Tutorial02_Data_processing_with_R_and_tidyverse.ipynb

*Copy this notebook, the folder `data` and the folder `figures` in your repository, and type in your responses and/or code in the corresponding cells. Your homework will be scored based on the total number of points (30 total possible).*

### 1. Identifying non-tidy datasets

#### 1.1 Problem 1
The dataset below shows demographic information, IQ and college grade point average for several students

In [1]:
iq_grade <- read.csv('data/iq_grade.csv')
iq_grade

  subject_id demographic_info verbal_IQ GPA
1 101        male, 23         105       3.9
2 102        male, 19         121       3.2
3 103        female, 27       123       3.4
4 104        male, 21          97       2.8
5 105        female, 21        93       2.9
6 106        female, 25       135       3.8

This dataset is not in a tidy format. Why? Which of the five most common problems described by Wickhams is this an example of? Edit this cell and replace the text below with your response **(1 point)**:

> *replace this text with your response*

What would you have to do to make this dataset in tidy format? **(1 point)**
> *replace this text with your response*

Write code in the cell below to transform the `iq_grades` table into tidy format 

(hint: use the separate() command from the tidyverse package - see Tutorial 2; **3 points**):

In [2]:
# INSERT CODE HERE

#### 1.2 Problem 2
The dataset below shows statistics about violent crime rates by US state. The numbers represent frequency per 100,000 people.

In [3]:
suppressMessages(library(tidyverse))

data("USArrests")
USArrests <- select(USArrests, -UrbanPop)
head(USArrests)

           Murder Assault Rape
Alabama    13.2   236     21.2
Alaska     10.0   263     44.5
Arizona     8.1   294     31.0
Arkansas    8.8   190     19.5
California  9.0   276     40.6
Colorado    7.9   204     38.7

This dataset is not in a tidy format. Why? Which of the five most common problems described by Wickhams is this an example of? Edit this cell and replace the text below with your response **(1 point)**:

> *replace this text with your response*

What would you have to do to make this dataset in tidy format? **(1 point)**
> *replace this text with your response*

Write code in the cell below to transform the `USArrests` table into tidy format 

(hint: use the gather() command from the tidyverse package - see Tutorial 2; **3 points**):

In [4]:
# INSERT CODE HERE

#### 1.3 Problem 3

The three tables below give the measurements in centimeters of the variables sepal length, sepal width, petal length and petal width, respectively, for 50 flowers from each of 3 species of iris flowers. The species are setosa, versicolor, and virginica.

In [5]:
# load data
setosa <- read.csv('data/setosa.csv')
virginica <- read.csv('data/virginica.csv')
versicolor <- read.csv('data/versicolor.csv')

# look at the data
head(setosa)
head(virginica)
head(versicolor)

  Sepal.Length Sepal.Width Petal.Length Petal.Width
1 5.1          3.5         1.4          0.2
2 4.9          3.0         1.4          0.2
3 4.7          3.2         1.3          0.2
4 4.6          3.1         1.5          0.2
5 5.0          3.6         1.4          0.2
6 5.4          3.9         1.7          0.4

  Sepal.Length Sepal.Width Petal.Length Petal.Width
1 6.3          3.3         6.0          2.5
2 5.8          2.7         5.1          1.9
3 7.1          3.0         5.9          2.1
4 6.3          2.9         5.6          1.8
5 6.5          3.0         5.8          2.2
6 7.6          3.0         6.6          2.1

  Sepal.Length Sepal.Width Petal.Length Petal.Width
1 7.0          3.2         4.7          1.4
2 6.4          3.2         4.5          1.5
3 6.9          3.1         4.9          1.5
4 5.5          2.3         4.0          1.3
5 6.5          2.8         4.6          1.5
6 5.7          2.8         4.5          1.3

These tables are not in tidy format. Why? Which of the five most common problems described by Wickhams is this an example of? Edit this cell and replace the text below with your response **(1 point)**:
> *replace this text with your response*

What would you have to do to make this dataset in tidy format? **(1 point)**
> *replace this text with your response*

Write code in the cell below to transform the `setosa`, `virginica` and `versicolor` tables into tidy format 

(hint: use the `bind_rows()` command from the tidyverse package; remember to include information about the species in tidy dataset; **3 points**):

In [6]:
# INSERT CODE HERE

### 2. Putting it all together

The files `basel_weather_2018.csv`, `basel_weather_2019.csv`, `basel_weather_2020.csv` in the folder `data` contain detailed information about the minimum, mean and maximum temperature in Basel, Switzerland for every hour of every day of the last three years.

The datasets have multiple structural issues. Combine your knowledge from the previous 3 problems to transform these datasets into a tidy format. The tidy format should allow you at the end to produce two plots:
1. average mean temperature as a function of a time of day
2. average maximum temperature as a function of month

When you are done, you should be able to produce the following two plots:

![max_temperature_plot](figures/basel_temp_by_month.png)
![mean_temperature_plot](figures/basel_temp_by_time_of_day.png)

First load the three dataset into three separate variables **(1 point)**:

In [7]:
# INSERT CODE HERE

Use the `head()` command to take a look at the first few rows of each dataset **(1 point)**:

In [8]:
# INSERT CODE HERE

Use the `bind_rows()` command to combine the three datasets into one **(1 point)**:

In [9]:
# INSERT CODE HERE

Use the `spread()` command to transform the dataset such that the mean, maximum, and minimum temperatures are in separate columns **(2 points)**:

In [10]:
# INSERT CODE HERE

The variable `timestamp` contains in each row a single string that represents the year, month, day and time of day in a single value. For example, `20200708T0700` means that the temperature in this row was observed on July 8th, 2020 at 7am. Create four new columns in your combined dataset:
- Year
- Month
- Day
- Hour

and use the `substr()` command to extract the relevant information for each column from the `timestamp` variable. For example, `substr(temp_data$timestamp, 7, 8)` would extract the day from the timestamp. 

If you need help understanding the `substr()` command, [read this](https://stat.ethz.ch/R-manual/R-devel/library/base/html/substr.html)  **(2 points)**:

In [11]:
# INSERT CODE HERE

Create a new dataset `monthly_temp` using the `group_by()` and `summarise()` commands (see Tutorial 2, Section 5). The new dataset should contain the average maximum temperature for each month. It should have 12 rows and two variables - `month` and `max_temperature`. **(2 points)**

In [12]:
# INSERT CODE HERE

Use the `ggplot()` command on your newly created `monthly_temp` summarized dataset to reproduce the first plot above. The x axis should show the month, and the y axis should show the average maximum temperature for each month. **(2 points)**

In [13]:
# INSERT CODE HERE

Create a new dataset `hourly_temp` using the `group_by()` and `summarise()` commands. The new dataset should contain the average mean temperature for each hour. It should have 24 rows and two variables - `hour` and `mean_temperature`. **(2 points)**

In [14]:
# INSERT CODE HERE

Use the `ggplot()` command on your newly created `hourly_temp` summarized dataset to reproduce the second plot above. The x axis should show the time of day (hour), and the y axis should show the average mean temperature for each time of day. **(2 points)**

In [15]:
# INSERT CODE HERE